# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environment files
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data / outputs that should not be tracked
datasets/*
models/*
features/*

# keep specific model files that are important for the project
!models/vgg11_bn.pt

# keep empty directories for datasets, models, features, and reports
!datasets/.gitkeep
!models/.gitkeep
!features/.gitkeep
!reports/.gitkeep

# OS / editor specific files
.DS_Store
.vscode/