# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data / outputs (ignored but directories kept)
datasets/*
models/*
features/*

# Keep directory structure
!datasets/
!models/
!features/
!reports/

!datasets/.gitkeep
!models/.gitkeep
!features/.gitkeep
!reports/.gitkeep

# OS / editor
.DS_Store
.vscode/